:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --second-text-color: #9da4bd;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/** -----------------------HEADER---------------------- */

.header {
  background-color: var(--second-title-color);
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

/* .header-item {
  margin-right: 30px;
}

.header-item:last-child {
  margin-right: 0;
} */
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.header-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.header-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-right: 43px;
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}
.header-btn {
  color: var(--main-title-color);
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

/** -----------------------HERO---------------------- */

.hero {
}

.hero-container {
  display: flex;
}

.hero-wrap {
  background-color: #7e8291;
  flex-grow: 1;
  padding: 272px 100px 208px 100px;
}
.hero-list {
  width: 100px;
}

.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
}

.hero-link:is(:hover, :focus) {
  color: #ff6c00;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.hero-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

/** -----------------------ABOUT---------------------- */

.about-container {
  display: flex;
  gap: 30px;
}

.about-wrap {
  padding-right: 100px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-top-text {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.about-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: #303030;
}

.about-btn:hover,
.about-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

/** -----------------------PRICES---------------------- */

.prices {
  background-color: var(--second-title-color);
}
.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}
.prices-list {
  border: 1px solid var(--main-title-color);
  width: calc((100% - 30px) / 2);
  padding: 30px 20px;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.prices-item:last-child {
  margin-bottom: 0;
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  color: var(--main-title-color);
  display: block;
  margin: 0 auto;
}

.prices-btn:hover,
.prices-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

/** -----------------------BENEFITS---------------------- */

.benefits {
}

.benefits-container {
  display: flex;
  justify-content: space-between;
}

.benefits-left-side,
.benefits-right-side {
  flex-basis: calc((100% - 30px) / 2);
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 370px;
  margin: 0 auto;
}

.benefits-item {
  width: 170px;
  min-height: 134px;
  padding: 21px;
  background-color: #f7f7f7;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--second-btn-color);
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 6px;
}
.benefits-top-text {
  color: var(--second-title-color);
}
.benefits-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/** -----------------------BARBERS---------------------- */

.barbers {
}
.barbers-top-text {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barber-wrapper {
  padding-top: 40px;
}
.barbers-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-bottom: 8px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-list li {
  flex-basis: calc((100% - 90px) / 4);
}

.footer {
}

.form-section {
  background: #191c26;
}

.form-title {
  color: var(--main-title-color);
}

.footer-adress {
  font-style: normal;

  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.footer-contacts {
  font-style: normal;

  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.info {
  font-size: 18px;
  line-height: 30px;

  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.2em;

  color: var(--second-text-color);
}

.footer-link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  letter-spacing: 0.2em;

  color: var(--second-text-color);
}

.wrap {
  display: flex;
}
